# 1. Ignore everything inside CC_LOADER recursively
CC_LOADER/**/*

# 2. Allow Git to look into folders so it can find the Makefiles
!CC_LOADER/**/

# 3. Explicitly allow the files you need for the project
!CC_LOADER/cc_loader.sh
!CC_LOADER/**/Makefile

# 4. Ignore test results and data files
Test/**/cwnd.csv
Test/**/throughput.txt

# 5. Ignore the logs folder
Test/Ledbat Vs CC Algos/Ledbat vs Cubic/logs/
Test/Ledbat Vs CC Algos/Ledbat vs Short flows/logs/
Test/Solo Delay Mode/Throughput vs Bottleneck Bw/logs/