# Ignore build files generated in CC_LOADER
# Ignore everything in the directory
/CC_LOADER/*

# Allow the directory itself so Git can peek inside
!/CC_LOADER/**/

# Allow specific files in the CC_LOADER root
!/CC_LOADER/cc_loader.sh

# NOW: Ignore everything inside the subdirectories by default
/CC_LOADER//

# Allow all Makefiles in any subfolder of CC_LOADER
!/CC_LOADER/**/Makefile

# Ignore files generated while running any experiment
# Ignore specific data files anywhere inside the Test folder
/Test/**/cwnd.csv
/Test/**/throughput.txt

# Ignore all log files
Test/Ledbat Vs CC Algos/Ledbat vs Cubic/logs/
